<h1 class="panel panel-danger">
  <div class="panel-heading">How to use this metric tracking service:</div>
</h1>
<p>First, register the URL of an app you want to track.</p>
<p>Add this Javascript somewhere central to your app (e.g. the application.js file in a Rails app):</p>
<pre>
  var metricsSystem = {};
  metricsSystem.report = function(eventName) {
    var event = {
      event: {
        name: eventName
      }
    };
    var request = new XMLHttpRequest();
    request.open("POST", "http://localhost:3000/api/events", true);
    request.setRequestHeader('Content-Type', 'application/json');
    request.send(JSON.stringify(event));
  }
</pre>
<p>Now, just attach it to places where you want reports. You could put it in a script tag
to report on page loads, for instance, or add "onclick: "metricsSystem.report('New Post Created')"
to a submit button to track when posts are submitted.</p>
<p>The Metrics System is type-agnostic, it doesn't care what your events are and you can
name them anything you like. The Javascript is basic native AJAX so you don't need
JQuery in your app for it to work.</p>
